.home{
    background-image: url(./Assets/Colors.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home .main{
    width: 90%;
    height: 500px;

}

.home .links a{
    color: #F39D47;
}

.home .brand p{
    color: #69465F;
}

.home .title h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 130px;
}

.home .main{
    background-image: url(./Assets/Panel3-6_ud@2x.png);
    background-position: center;
    background-size: cover;
}

.circle{
    top: 247px;
    left: 127px;
    width: 85px;
    height: 85px;
    /* UI Properties */
    border: 2px solid #FFAC06;
    border-radius: 100%;
}

.circle p{
    transform: matrix(0, 1, -1, 0, 0, 0);
    /* UI Properties */
    text-align: left;
    font: normal normal medium 20px/15px Sinkin Sans 500;
    letter-spacing: 0px;
}

.title{
    height: 500px;
}

video{
    width: 100% !important;
    height: auto;
}

.panel{
    height: 300px;
    background: black;
    border-radius: 20px;
}
.panel h1:nth-child(1){
    color: white;
}

.panel h1:nth-child(2){
    color: #0C86E3;
}

.panel p{
    color: #69465F;
}

.navigate{
    background: black;
    min-height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}





@media only screen and (max-width: 768px) {
    .home .title h1{
        font: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 100px;
    }
    .home .title{
        margin-bottom: 25px;

    }
    .panel{
        width: 100%;
    }

  }

  @media only screen and (min-width: 768px) {
    .start-cue, .panel{
        width: 80%;
    }
    .home, #navigate-vivid{
        width: 80vh !important;
    }
    
  }