@font-face {
    font-family: 'Sinkin';
    src: url('/public/fonts/SinkinSans-400Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SinkinBold';
    src: url('/public/fonts/SinkinSans-700Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('/public/fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bold {
    font-family: 'SinkinBold' !important;
}

body{
    font-family: 'Sinkin' !important;
    scroll-behavior: smooth;
    background: black !important;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.1em;
    
}
   
::-webkit-scrollbar-track {
    background-color: black;
    
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 200px;
}

.navbar {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.home{
    background: black;
}

.home .landing-page{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.4)),url('/public/assets/Colors.jpg');
    background-size: cover;
    background-position: center;
}

.home .main{
    
    height: 500px;
    background-image: url(/public/assets/Panel3-6_ud@2x.png);
    background-position: 168px;
    background-size: 700px 350px;
    background-repeat: no-repeat;

}

.view-now-left {
    position: absolute;
    width: 154px;
    height: 138px;
    z-index: 2;
    background: #FFBB01 0% 0% no-repeat padding-box;
    font-family: 'NothingYouCouldDo';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.view-now-tail {
    position: absolute;
    opacity: 1;
    height: 80px;
}

.links a{
    color: #F39D47;
}

.brand p{
    color: #998294;
}

.home .title h1{
    font-weight:bolder;
    font-size: 70px;
}

.home .title p{
    font-size: 12px;
}


.circle{
    top: 247px;
    left: 127px;
    width: 85px;
    height: 85px;
    /* UI Properties */
    border: 2px solid rgba(255,172,6,.5);
    border-radius: 100%;
}

.circle p{
    transform: matrix(0, 1, -1, 0, 0, 0);
    /* UI Properties */
    text-align: left;
    font: normal normal medium 20px/15px Sinkin Sans 500;
    letter-spacing: 0px;
    opacity: 1 !important;
}

.title{
    height: 500px;
}

video{
    width: 100% !important;
    height: auto;
}

.panel{
    height: 300px;
    width: 600px;
    background: black;
    border-radius: 20px;
    position: relative;
}

.panel-watch img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.panel h3:nth-child(1){
    color: white;
    font-weight: bold;
}

.panel h3:nth-child(2){
    color: #0C86E3;
    font-weight: bold;

}
.panel-navigate h1{
    font-weight: bold;
}
.panel-navigate p{
    letter-spacing: 2px;
}

.panel p{
    color: white;
    font-size: 10px;
}

.panel-watch{
    background-image: url(/public/assets/01-Watch.png);
    background-size: cover;
    background-position: center;
}

.panel-navigate{
    background-image: url(/public/assets/How-to-Navigate.png);
    background-size: cover;
    background-position: 150px;
    background-repeat: no-repeat;
}

.navigate{
    background: black;
    min-height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}

.panel{
    width: 100%;
}


.start-cue{
    height: 730px; width: 500px; object-fit: cover;
}

.start-cue, .panel{
    width: 80%;
}

.menu{
    border-radius: 20px;
    position: fixed;
    top: 90px;
    background: black;
    z-index: 5000;
    height: 82vh;
    overflow-y: auto;
}

.menu-button {
    position: fixed;
    left: 20px;
    top: 65px;
    z-index: 9000;
}

.menu-button-page {
    top: 20px;
    left: 20px;
}

.page-content {
    position: absolute;
    top: 0;
    z-index: 9000;
}

.page-number{
    position: relative;
}

.menu .option .page-number p{
    top: 10px;
    left: 50px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    text-align: left;
    font: normal normal 300 13px/80px Sinkin Sans 300;
    letter-spacing: 1.95px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 9px;
    margin-left: 10px;

}


.vid-container h5{
    font-family: "NothingYouCouldDo";
}

.vid-container{
    position: relative;
}

.home-button-page{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.pagination a{
    color: #5CD0EE;
    position: sticky;
}

.scroll{
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.end{
    margin: 15rem 0;
}

.page-navbar{
    background: rgb(61,12,57);
    background: linear-gradient(90deg, rgba(61,12,57,1) 30%, rgba(11,5,62,1) 94%);
    padding: 2rem 0;
}

@media only screen and (max-width: 768px) {

    .start-cue{
        width: 100%;
    }

    .home .main{
        height: 500px;
        background-image: url(/public/assets/Panel3-6_ud@2x.png);
        background-position: 50px;
        background-size: 700px 350px;
        background-repeat: no-repeat;
    }

    .panel-watch{
        width: 100%;

    }

  }

  @media only screen and (max-width: 400px){
    .menu a img{
        width: 100px;
    }
}

  @media only screen and (min-width: 768px) {
    
    .home{
        width: 50vw !important;
    }
    #navigate-vivid, .page{
        width: 80vh !important;
    }
  }