@font-face {
  font-family: Sinkin;
  src: url(../public/Assets/SinkinSans-400Regular.ttf) format('TrueType');
}

@font-face {
  font-family: NothingYouCouldDo;
  src: url(../public/Assets/NothingYouCouldDo-Regular.ttf) format('TrueType');
}

::-webkit-scrollbar {
    width: 0.1em;
}
   
::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 200px;
}

body{
  font-family: 'Sinkin', serif !important;
}

.container-root{
  width: 623px;
  min-height: 100vh;
  position: relative;
}



.navbar{
  width: 40vw;
  z-index: 99;
  position: absolute;
  top: 1.5rem;

  

}

.navbar-with-bg{
  width: 40vw;
  z-index: 99;
  position: absolute;
  top: 0rem;
  background-image: url(../public/Assets/Colors@2x\(edited1\).png);
  background-position: center;
  background-size: 100% 100%;
  height: 7rem;
 
  

}

.navbar-nav a{
  color: #F39D47;
  margin: 0 1.5rem;
}


.landing{
  height: 85vh;
  margin-top: -60px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/Assets/Colors.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  position: relative;
  z-index: 0;




}

.landing-cover{
  background-image: url(../public/Assets/Panel3-6_ud@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 170px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
 

}

.landing-cover h1{
  letter-spacing: 4px;
  font-size: 5rem;
}

.landing-cover p {
  font-size: 12px;
  position: relative;
}

.landing-cover .title{
  padding-top: 5rem !important;
}

.content{
  background: black;
  min-height: 100vh;
}

.watch{
  position: relative;
}

.watch .play{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%)
}

.watch .title{
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.watch h1{
  font-size: 23px;
}
.watch p{
  font-size: 11px;
  opacity: 0.5;
}
.how-to{
  height: 20rem;
  background-image: url(../public/Assets/How-to-Navigate.png);
  background-position: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to h1{
  font-size: 25px;
}

.how-to p{
  font-size: 10px;
  opacity: 0.3;
}

.view-now{
  width: 150px;
  height: 130px;
  background: #FFBB01;
  border-radius: 50%;
  position:absolute;
  z-index: 98;
  margin-top: -7.5rem;
  

}

.view-now p, .view-now-2 p{
  font-family: NothingYouCouldDo !important;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 2;
}

.view-now-tail{
  position: absolute;
  bottom: -50px;
  transform: rotate(10deg);
  left: 0;
  z-index: 1;
}

.view-now-2{
  width: 130px;
  height: 110px;
  background: #FFBB01;
  border-radius: 50%;
  position:absolute;
  top: 6rem;
  right: 4rem;
 
}



.view-now-2-tail{
  position: absolute;
  bottom: -50px;
  transform: rotate(230deg);
  right: 0;
  top: -2rem;
  z-index: 1;
}

.start-cue{
  position: relative;
}

.start-cue p{
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle{
  top: 247px;
  left: 127px;
  width: 85px;
  height: 85px;
  /* UI Properties */
  border: 3.5px solid rgba(255,172,6,.5);
  border-radius: 100%;
}

.circle p{
  transform: matrix(0, 1, -1, 0, 0, 0);
  /* UI Properties */
  text-align: left;
  font: normal normal medium 20px/15px Sinkin Sans 500;
  letter-spacing: 0px;
  opacity: 1 !important;
}

.arrow-down{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
  border-top: 5px solid #F39D47;
}

.menu{
  min-height: 100vh;
  position: relative;
  margin-top: 8rem;
  border-radius: 2rem;
}
.hamburger{
  position: absolute;
  top: -2.5rem;
  left: 0;
}

.page-number{
  position: relative;
}

.page-number p{
  transform: matrix(0, -1, 1, 0, 0, 0);
  
  font: normal normal 300 13px/80px Sinkin Sans 300;
  letter-spacing: 1.95px;
  color: #FFFFFF;
  font-size: 9px;
 
  
}

.panel-wrapper{
  position: relative;
}

.viewable{
  background-color: #F2BA04;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  transform: rotate(330deg);
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.viewable p{
  font-size: 13px;
  color: white;
}

.not-viewable{
  background-color: #28A199;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  transform: rotate(330deg);
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.not-viewable p{
  color: white;
  font-size: 10px;
}

.circle h1{
  margin-top: -2rem;
  margin-left: -3rem;
  font-size: 30px;
 
}
.circle h5{
  font-size: 13px;
  opacity: 0.6;
  margin-right: -1rem;
}


.page p{
  font-family: NothingYouCouldDo;
}

.door {
  position: absolute;
  width: 39.5%;
  height: 350px;
  background: #A50B0E;
  top: 0;
}

.tangled3-wrapper{
  position: relative;
}

.page1-panel2{
  padding-top: 300px;
}



.leafs{
  position: relative;
  width: 40vw;
  height: 20rem;
}

.leafs img{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leafs img:nth-child(1){
 left: 60%;
}
.leafs img:nth-child(2){
  top: 30%;
  left: 40%;
}
.leafs img:nth-child(3){
  top: 50%;
  left: 60%;
}

.leafs img:nth-child(4){
  top: 80%;
}

.cover-wrapper{
  position: relative;
}

.cover-wrapper .first-text{
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.grey-background{
  background: #707070;
  padding: 10px 20px;
  border-radius: 1rem;
  margin-top: -2rem;
  margin-left: 3rem;
 
}
.A-panel-wrapper{
  position: relative;
}
.A-panel-wrapper p{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.pagination h5{
  color: #39D0EB;
}
.pagination{
  z-index: 99;
}

.the-end{
  color: #BC1D1D;
  padding: 5rem 0;
}

.set-encircled{
  border: 2px solid #39D0EB;
  padding: 4px 9.5px;
  border-radius: 100%;
  transition: .5s;
  opacity: 1 !important;
}

.scroll-button{
  position: fixed;
 bottom: 2rem;
  right: 0rem;
  z-index: 98;
  
}
.scroll-button img{
  width: 50px;
}

.loading-screen{
  height: 100vh;
}

.hamburger-wrapper{
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 98;
 
}
.black-hider{
  width: 100%;
  height: 3rem;
  position: absolute;
  z-index: 100;
  bottom: 6rem;
 background: black;
}
.page .wrapper{
  padding: 5rem 0;
}








@media screen and (max-width: 768px){


 .leafs{
    width: 100%;
  }

  .watch h1{
    font-size: 20px;
  }
  .watch p{
    font-size: 10px;
  }
 
  .navbar, .navbar-with-bg{
    width: 100%;
  }

  .navbar a, .navbar-with-bg a{
  font-size: 12px;}

  .menu .container-fluid img{
    width: 160px;
  }

  .viewable{
   
    width: 4rem;
    height: 4rem;
  
  }

  .viewable p{
    font-size: 10px;
  }
  .not-viewable p{
    font-size: 8px;
  }
  

  .not-viewable{
   
    width: 3rem;
    height: 3rem;

  }

  .door{
    width: 236px;
  }

  

  
  
}

@media screen and (max-width: 568px){
  .play{
    width: 5rem;
    z-index: 98;
  }
  .landing-cover{
    background-position: 100px;
  }
  .how-to{
    background-position: 6rem;
  }
  .menu .container-fluid img{
    width: 145px;
  }
  .menu .col-3 p, .menu .col-3 h5{
    font-size: 10px;
  }
  .menu .col-3 h1{
    font-size: 20px;
  }
  .menu .col-3 .circle{
    width: 3.5rem;
    height: 3.5rem;
  }

  .page1-panel2{
    width: 100%;
    padding-top: 250px;
  }

  .door{
    width: 39.5%;
  }
  .black-hider{
    bottom: 5rem;
  }

  

}

@media  screen and (max-width: 425px) {
  .navbar a, .navbar-with-bg a{
    font-size: 10px;
    margin: 0 10px;
  }

  .navbar-with-bg{
    height: 5rem;
  }

  
}